<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ventile_Client.Properties.Colors" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Ventile_Client.Properties.Cosmetic" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Ventile_Client.Properties.Ventile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ventile_Client.Properties.aboutInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
    <userSettings>
        <Ventile_Client.Properties.Colors>
            <setting name="backColor" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="accentColor1" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="foreColor" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="outlineColor" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="fadedColor" serializeAs="String">
                <value>192</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="accentColor2" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="accentColor3" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="backColor2" serializeAs="String">
                <value>40</value>
            </setting>
        </Ventile_Client.Properties.Colors>
        <Ventile_Client.Properties.Cosmetic>
            <setting name="cBlack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cWhite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cPink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cBlue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cYellow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cRick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mBlack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mWhite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mPink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mBlue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mYellow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mRick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="aGlowing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="aSlide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="oKagune" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="oWavy" serializeAs="String">
                <value>False</value>
            </setting>
        </Ventile_Client.Properties.Cosmetic>
        <Ventile_Client.Properties.Ventile>
            <setting name="CustomDLL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultDLL" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowSetting" serializeAs="String">
                <value>Hide</value>
            </setting>
            <setting name="CustomLoc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomLocStr" serializeAs="String">
                <value />
            </setting>
            <setting name="internet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoInject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RpcE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LineRPC" serializeAs="String">
                <value />
            </setting>
            <setting name="Version" serializeAs="String">
                <value>Beta 2.4.0</value>
            </setting>
            <setting name="ClientVersion" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="CosmeticsVersion" serializeAs="String">
                <value>1.0.0</value>
            </setting>
            <setting name="Toasts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Rounded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="customImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customImageLoc" serializeAs="String">
                <value />
            </setting>
            <setting name="rpcButtonLink" serializeAs="String">
                <value />
            </setting>
            <setting name="rpcButtonText" serializeAs="String">
                <value />
            </setting>
            <setting name="rpcButton" serializeAs="String">
                <value>False</value>
            </setting>
        </Ventile_Client.Properties.Ventile>
    </userSettings>
    <applicationSettings>
        <Ventile_Client.Properties.aboutInfo>
            <setting name="LauncherVersion" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="TextureVersion" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="ClientVersion" serializeAs="String">
                <value>N/A</value>
            </setting>
        </Ventile_Client.Properties.aboutInfo>
    </applicationSettings>
</configuration>
